@CHARSET "ISO-8859-1";

/*
this css file is used for all pages in the system
making sure they all look the same
*/


title {
    <meta charset="utf-8">
}

body {
	background-color: darkgray;
	align
	="center"
	html
	lang="en-US"
	text-align
	:
	center;
    font-size: 20px;
}

h1 {
	color: blue;
	text-align: center;
	font-size: 60px;
    font-weight: bold;
}

h2, h3 {
    color: darkgreen;
    font-size: 40px;
}

h3 {
    font-size: 30px !important;
}

ul, li{
margin:0;
padding:0 0 0 15px;
}

.column{
    float: left;
    margin: 0 20px 0 0;
}
